/*General Selectors*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/*Header selectors*/
.header-container,
.footer {
    /*background-color for header and footer is same*/
    background-color: #1F2937;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-right: 60px;
}

li {
    list-style: none;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    padding-left: 16px;
    color: #fff;
}

.right-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Logo*/
.left-nav-item img {
    height: 70px;
}

.left-nav-item a {
    padding-left: 0;
}