/*General Selectors*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/*Header selectors*/
.header-container,
.footer {
    /*background-color for header and footer is same*/
    background-color: #1F2937;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-right: 60px;
}

li {
    list-style: none;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    padding-left: 16px;
    color: #fff;
}

.right-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Logo*/
.left-nav-item img {
    height: 70px;
}

.left-nav-item a {
    padding-left: 0;
}

/*Header flex- H1+P+Button on the left side and image to the right side*/
.header-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
}
/*left-side headerContainer*/
.left-item-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-item-head>p {
    font-size: 24px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.button-order-header {
    border: none;
    border-radius: 10px;
    background-color: #3882F6;
    font-size: 1.25rem;
    padding: 3px 8px;
    color: #fff;
    cursor: pointer;
}
/*right-side headerContainer*/

.right-item-head > img {
    border-radius: 15px 4px;
    box-shadow: 2px 2px 8px #ebeceb;
    opacity: .8;
    transition: .5s;
}

.right-item-head > img:hover {
    opacity: 1;
    transform: scale(1.05);
}

/*Pick Pizza Container*/
h2 {
    font-size: 2.25rem;
    color: #1F2937;
    text-align: center;
}

/*Grid for whole container layout*/
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 0 1,25rem;
}

/*Flex inside each cardCont*/
.card1,
.card2,
.card3,
.card4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/*img inside card size*/
.card1 > img,
.card2 > img,
.card3 > img,
.card4> img {
    width: 75%;
    height: 75%;
    border-radius: 45px;
    border: 2px solid #3882F6;
}

/*Message Container*/
.message-container {
    background-color: #E5E7EB;
}

.message-para {
    font-size: 2.25rem;
    font-weight: lighter;
    color: #1F2937;
    text-align: left;
    width: 60%;
    margin: 0 auto;
    padding: 4rem 0 3rem 0;
}

span {
    text-transform: uppercase;
    font-weight: bold;
}

.h3-msg-Container {
    text-align: right;
    padding-right: 4rem;
}